@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

#profile{
    height: 450px;
    

}



.p_img{
    width: 100%;
    height: auto;
}
.profile-navbar{
    
}
.profile-container{
    /* border:1px solid black; */
    border-radius: 5px;

    position:relative;
    top:10%;
    background-color: #130f40;
    width:50%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
}
.nav-link{
    margin-right: .2rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position:relative;

}




.user_profile_details{
    padding:8%;
}

.p_birthday, .p_number, .p_email{
    padding:3%;
}
.social-icon{
    margin: 2%;
    font-size: 1.6rem;
}

.fa-solid{
    padding: .3rem;
}